body{
  font-family: 'Courier New', Courier, monospace;
  background-color: #d8f3dc;
  display:flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 100px; */
  padding: 100px 0vw;
  /* align-items: center; */
}
.linkers {
  display: flex;
  margin-left: 5vw;
  margin-right: 5vw;
  justify-content: space-between;
  margin-bottom: 5vw;
}
.only-form{
  display: flex;
  padding-top: 20px;
}
/* .App { */
  /* background-color: #282c34;
  min-height: 100vh;
  display: flex; */
  /* flex-direction: column; */
  /* align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
/* } */
/* .container {
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  display: flex;
  flex-direction: column;
} */